All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %></ul>
<% end %>
<h4>Contact : </h4>
<ul>
  <% @company.contacts.each do |contact| %>
    <li>Name: <%= contact.name %> Position: <%= contact.position %>  Email: <%= contact.email %></li>
  <% end %>
</ul>

<%= render partial: 'contacts/contact' %>
